name: Build EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install pyinstaller
        pip install requests

    - name: Build exe
      run: |
        pyinstaller --onefile --windowed instagram_checker_requests_gui.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: instagram_checker_exe
        path: dist/
